/* Header Layout */
header {
  grid-template-columns: 100px auto;
  column-gap: 24px;

  img {
    width: 100px;
  }
}

/* Layout Max Width */
header, nav, main {
  max-width: 960px;
  margin: auto;
}

/* Navigation */
nav ul {
  justify-content: flex-end;

  li a {
    padding: .4rem 1rem;
  }
}
nav ul li a:hover {
  background-color: #ffffff;
  color: #014040;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 0.8rem $gutter;
  box-sizing: border-box;
}

