// Colors
$primaryColor: #e9e9e9;
$anotherColor: #333;
$secondaryColor: #ffffff;
$textColor: #014040;
$accentColor: #3990c3;
$greyColor: #f1f1f1;

// Typography
$headerFont: 'Merriweather', serif;
$bodyFont: 'Roboto', sans-serif;
$lightWeight: 300;
$normalWeight: 400; // Roboto default regular weight
$boldWeight: 700;   // For Merriweather headings
$leading: 150%;

// Layout
$gutter: 10px;
